@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0a0a23;
  overflow-x: hidden;
  color: #fff;
}

/* Header */
header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

header .brand {
  color: #ffffff;
  font-size: 1.8em;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

header .navigation .navigation-items a {
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  position: relative;
}

header .navigation .navigation-items a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: #7c4dff;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover::before {
  width: 100%;
}

.menu-btn {
  display: none;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-logo img {
  height: 50px;
  width: auto;
}

.perfil-container {
  max-width: 420px;
  margin: 60px auto;
  padding: 30px;
  background-color: #1a1a2e;
  border-radius: 15px;
  color: white;
  text-align: left;
  box-shadow: 0 0 15px rgba(140, 82, 255, 0.2);
  font-family: 'Segoe UI', sans-serif;
}

.perfil-container img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  
}

.perfil-container h2 {
  margin-bottom: 10px;
}

.perfil-container p {
  margin: 5px 0;
}

.perfil-dados p {
  margin: 8px 0;
  font-size: 16px;
}

.edit-btn {
  display: block;
  margin: 15px auto;
  background-color: transparent;
  border: 1px solid #8c52ff;
  color: #8c52ff;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.edit-btn:hover {
  background-color: #8c52ff;
  color: white;
}

#formPerfil input,
#formPerfil input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  background-color: #0f0f1a;
  color: white;
  border: 1px solid #8c52ff;
  border-radius: 8px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.save-btn,
.cancel-btn {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-btn {
  background-color: #2a9d8f;
  color: white;
}

.cancel-btn {
  background-color: #444;
  color: #ccc;
}

.save-btn:hover {
  background-color: #21867a;
}

.cancel-btn:hover {
  background-color: #666;
}

.logout-btn {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #e63946;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #c72535;
}

.hidden {
  display: none;
}

.delete-btn {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #4e0101;
}

.profile-dropdown{
    position:relative;
    width: fit-content;
}

.profile-dropdown-btn{
    display: flex;
    width: 27px;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 0.7rem;
    font-weight: 400;
    border-radius: 50px;
    cursor: pointer;
}

.profile-dropdown-btn i{
    font-size: 1.8rem;
}


.profile-dropdown-btn span{
    margin: 0 0.5rem;
    margin-right: 0;
}

.profile-dropdown-list{
    position: absolute;
    top: 68px;
    width: 220px;
    right: 0;
    background-color: #120c2c;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
}

.profile-dropdown-list.active{
    max-height: 500px;
}

.profile-dropdown-list hr{
    border: .5px solid #cccccc2f;
}

.profile-dropdown-list-item{
    padding: .5rem 0 .5rem 1rem;
    transition: background-color 0.2s, padding-left 0.2s;
}

.profile-dropdown-list-item:hover{
    padding-left: 1.5rem;
    background-color: #8e6af1;
    border-radius: 10px;
    text-decoration: none;
}

.profile-dropdown-list-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 500;
    color: #fff;
}

.profile-dropdown-list-item a i{
    margin-right: 0.8rem;
    font-size: 1.1rem;
    width: 2.3rem;
    color: #fff;
    line-height: 2.3rem;
    text-align: center;
    text-decoration: none;
}
